body {
    background-color: #74992e;
    font-family: cursive;
}

p {
    color: #2B2D42;
}

h1 {
    color: #D80032;
    border-bottom: 1px solid #8D99AE;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

h2 {
    border-top: 1px solid #8D99AE;
}
